/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

header a {
	text-decoration: none;
	color: black;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 2em;
}

.filters button {
    padding: 8px 20px;
    border: 1px solid #1D6154;
    border-radius: 60px;
    background: white;
    color: #1D6154;
	font-weight: bold;
    font-family: 'Work Sans';
    font-size: 1em;
    cursor: pointer;
}

.filters button.active {
    background-color: #1D6154;
    color: white;
}

.filters button:hover {
    background-color: #1D6154;
    color: white;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.body-login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
	background-color: #FFFEF8;
}

main {
    flex: 1;
}

#login {
    width: 379px;
    margin: 80px auto;
    text-align: center;
}

#login h2 {
    margin-bottom: 40px;
}


#login form {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: stretch;
}

#login input {
    height: 51px;
	width: 100%;
    font-size: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding: 0 10px;
}

#login button {
    height: 36px;
    margin-top: 7px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 60px;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
	width: 179px;
	align-items: center;
	margin-left: auto;
    margin-right: auto;
}

#login a {
    text-align: center;
    color: #1D6154;
    margin-top: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#erreur {
    height: 0;
    overflow: hidden;
    color: red;
    text-align: center;
}

.form-actions {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 15px;
}

#login .form-group {
    margin-bottom: 30px;
}

#login .form-actions {
    gap: 15px;
}

#bandeau-edition {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Work Sans';
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
	padding-bottom: 15px;
}

#btn-modifier {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Work Sans';
    font-size: 0.9em;
    color: black;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    vertical-align: middle;
	margin-left: 15px;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
    display: inline;
}

#portfolio .titre-projets {
    text-align: center;
    margin-bottom: 1em;
}

.titre-projets {
	padding-top: 100px;
	padding-bottom: 75px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modale {
    background: white;
    border-radius: 10px;
    padding: 40px;
    width: 630px;
    height: 670px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

#modale h3 {
	padding-bottom: 10px ;
}

#btn-fermer-modale {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

#btn-retour {
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
}


#vue-galerie h3, #vue-formulaire h3 {
    text-align: center;
    font-family: 'Syne';
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 30px;
}

#galerie-modale {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 9px;
    row-gap: 29px;
	padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}


#galerie-modale figure > img {
    width: 100%;
    height: 110px;
    object-fit: cover;
}

#btn-ajout-photo {
    display: block;
    margin: 40px auto 0;
    padding: 10px 30px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 60px;
    font-family: 'Syne';
    font-weight: 700;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

#zone-upload {
    background-color: #e8f1f6;
    border-radius: 5px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

#zone-upload input {
    display: none;
}

#zone-upload label {
    background-color: #ced8de;
    padding: 8px 15px;
    border-radius: 60px;
    cursor: pointer;
    font-size: 0.9em;
}

#zone-upload p {
    font-size: 0.8em;
    color: gray;
}

#vue-formulaire form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#vue-formulaire input[type="text"],
#vue-formulaire select {
    height: 50px;
    border: none;
    border-radius: 0;
    padding: 0 10px;
    font-family: 'Work Sans';
    font-size: 1em;
    width: 100%;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
}

#form-titre, #form-cat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}


#vue-formulaire label {
    display: block;
}

#form-ajout {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 50px;
}

#vue-formulaire button[type="submit"] {
    display: block;
    margin: 10px auto 0;
    padding: 10px 30px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 60px;
    font-family: 'Syne';
    font-weight: 700;
    cursor: pointer;
    width: 180px;
}

#vue-galerie {
    width: 100%;
}

#vue-galerie hr {
    margin-bottom: 20px;
    width: 450px;
}

#form-ajout #titre-projet {
    width: 100%;
}

#preview-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

#vue-formulaire hr {
    border: 1px solid #B3B3B3;
    margin: 5px 0 5px 0 ;
}

#btn-valider:disabled {
    background-color: #a7a7a7;
    cursor: not-allowed;
}

#galerie-modale figure {
    position: relative;
}

.btn-supprimer {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: black;
    border: none;
    border-radius: 3px;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
}

.btn-supprimer img {
    width: 12px;
    height: 12px;
}